{% extends 'base.html.twig' %}

{% block title %}Cart{% endblock %}

{% block body %}
<table class="table">
    <tr>
        <th>Produs</th>
        <th>Cantitate</th>
        <th>Pret</th>
        <th>Pret total</th>
    </tr>
    {% for cartItem in cart.cartItems %}
        <tr>
            <td>{{ cartItem.product.name }}</td>
            <td id="itemQuantity">{{ cartItem.quantity }}</td>
            <td>{{ cartItem.product.price}} RON</td>
            <td>{{ cartItem.getTotalPrice()}} RON</td>
        </tr>
    {% endfor %}
    <tr>
        <td><a href="{{ url('cart_finalize',{'id':cart.id}) }}">Finalize order</a> </td>
        <td></td>
        <td>Total:</td>
        <td>{{ cart.getTotalPrice()}} RON</td>
    </tr>
</table>
{% endblock %}
