<table class="table">
    <tr>
        <th>Produs</th>
        <th>Cantitate</th>
        <th>Pret</th>
        <th>Pret total</th>
    </tr>
    {% for cartItem in cart.cartItems %}
        <tr>
            <td>{{ cartItem.product.name }}</td>
            <td>{{ cartItem.quantity }}</td>
            <td>{{ cartItem.product.price}} RON</td>
            <td>{{ cartItem.getTotalPrice()}} RON</td>
        </tr>
    {% endfor %}
    <tr>
        <td></td>
        <td></td>
        <td>Total:</td>
        <td>{{ cart.getTotalPrice()}} RON</td>
    </tr>
</table>

