{{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.price) }}
    {{ form_row(form.category) }}
<ul class="tags" data-prototype="{{ form_widget(form.imagini.vars.prototype)|e('html_attr') }}">
    {% for imagine in form.imagini %}
        <li>{{ form_row(imagine) }}</li>
    {% endfor %}
</ul>
<button type="button" class="add_item_link" data-collection-holder-class="tags">Add image</button>

<button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}


