<div id="menu">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('product_index') }}">Product</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url('category_index') }}">Category</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url('cart_index') }}">Cart</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url('lang',{'lang':'ro'}) }}">ro</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url('lang',{'lang':'en'}) }}">en</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url('app_logout') }}">Logout</a>
                </li>
            </ul>

        </div>
    </nav>
</div>