{% use "bootstrap_4_layout.html.twig" %}

{# Widgets #}


{% block submit_widget -%}
    {%- set attr = attr|merge({class: (attr.class|default('btn-danger'))|trim}) -%}
    {{- parent() -}}
{%- endblock submit_widget %}